<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<link rel="icon" href="{{ site.baseurl }}/assets/img/logo.png">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/common.css">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-178432209-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-178432209-1');
</script>