<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- _includes/head.html -->
    {% include head.html %}
</head>

<body class="dalmoori">
    <!--
    dalmoori 클래스 => dalmoori 폰트 적용.
    /assets/js/tools.js에서 적용 토글에 의해 클래스 추가 제거 제어됨.
-->
    <div class="stars"></div>
    <header>
        <h1><a href="{{ site.baseurl }}/">달무리</a></h1> <!-- 로고 -->
        <a href="https://github.com/{{ site.data.copyrights.github_repo }}">
            <!-- _data/copyrights.json에서 github_repo 값 불러옴 -->
            <img src="{{ site.baseurl }}/assets/img/github.svg" alt="Github Logo">
        </a>
    </header>
    <section class="main">
        <!-- _includes/tools.html -->
        {% include tools.html %}
        <!--
        /assets/js/tools.js에서 include 하위 요소에 onChange 이벤트 바인딩함.
        -->

        {{ content }}
    </section>
    <section class="copyright trans">
        <div>{{ site.data.copyrights.footer }}</div>
        <!-- _data/copyrights.json에서 footer 값 불러옴 -->
    </section>
    <script src="{{ site.baseurl }}/assets/js/star.js"></script>
    <!-- 별 배경 생성 -->
</body>

</html>